<% if current_user %>
<%= image_tag current_user.avatar.url(:thumb) %>
<% end %>

<div class="map">
<img alt="street view" id='map_image'>
</div>
<br>
<div id="lat_lon">
  <div id="lat"></div><br>
  <div id="lon"></div>
  <div id="heading"></div>
  <div id="pitch"></div>
</div>

<div id="guidmap"></div>
