<div class="map center" id="streetview">
<img alt="street view" id='map_image' />
<div id="lat_lon">
  <div class="strike" id="lat"></div>
  <div class="strike" id="lon"></div>
  <div class="strike" id="heading"></div>
  <div class="strike" id="pitch"></div>
</div>
<div id="map_ctrl">
  <div class="map_ctrl_item" id="map_ctrl_turnleft">⟲</div>
  <div class="map_ctrl_item" id="map_ctrl_forward">↑</div>
  <div class="map_ctrl_item" id="map_ctrl_turnright">⟳</div>
  <div class="map_ctrl_item" id="map_ctrl_moveleft">←</div>
  <div class="map_ctrl_item" id="map_ctrl_none"></div>
  <div class="map_ctrl_item" id="map_ctrl_moveright">→</div>
  <div class="map_ctrl_item" id="map_ctrl_enlarge">+</div>
  <div class="map_ctrl_item" id="map_ctrl_backward">↓</div>
  <div class="map_ctrl_item" id="map_ctrl_shrink">-</div>
</div>
<div id="compass">
  <div id="uparrow"></div>
  <div id="downarrow"></div>
</div>
</div>

<div class="center" id="guidmap"></div>
<script type="text/javascript">
window.onload=mainOnload();
setReloadMap();
setToggleMainMenu();
</script>
