// Place all the styles related to the Guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_common";

.guide_pannel{
  @include centerBlock(1024px, 540px, $pannel_bkgnd, $pannel_fntclr);

  h1 {
    text-align: center;
  }
  #notice{
    margin: 0 20px;
  }
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    .guide_item_img {
      margin: 4% 4%;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    .guide_item_body {
      &,
      & > *,
      & > * > *,
      & > * > * > * {
        margin: 0 auto;
        width: 470px;
      }
    }
    #guide_item_description{
      height: 170px;
    }
  }
}

.guides_list {
  h1 {
    text-align: center;
    font-family: sans-serif, fantasy;
  }
  #new_guide_link {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 240px;
    text-align: center;
  }
  .guide_item {
    margin: 0 auto;
    border: 1px solid grey;
    width: 1024px;
    display: grid;
    grid-template-columns: 320px 1fr;
    .guide_item_img {
      width: 98%;
      height: 98%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.guide_show_body {
  display: grid;
  grid-template-columns: 70% 30%;

  .guide_show_viewmap{
    overflow: scroll;
  }

  .chat_list {
    background-color: $pannel_bkgnd;
    max-height: 1280px;
    overflow-y: scroll;

    .chat_input_area{
      display: grid;
      grid-template-columns: 1fr;
      border: 1px solid black;
      label{
        color: white;
      }
      #chat_input_message {
        height: 80px;
      }
      #chat_input_send{
        position: relative;
        right: 0;
      }
    }
  }
}

.guide_show_head{
  & > *{
    text-align: center;
    width: 600px;
    margin: 0 auto;
  }
}

.chat_item {
  display: grid;
  grid-template-columns: 1fr;

  .chat_item_head {
    display: grid;
    grid-template-columns: 30% 70%;
    .chat_item_avatar {
      .chat_item_img {
        width: 100%;
        height: auto;
        background-size: 100% 100%;
      }
    }

    .chat_item_info{
      .chat_item_name{}
      .chat_item_edit{}
    }
  }

  .chat_item_message {

  }
}
