@import "_common";

.user_pannel {
  display: grid;
  grid-template-columns: 50% 50%;
  .left_part {
    img{
      width: 90%;
      height: 90%;
    }
  }
  .left_part, .right_part {
    margin: 20px 8px;
    width: 100%;
    height: 100%;
    & > * {
      width: 100%;
      & > * {
        margin: 8px 0;
        width: 90%;
        & > * {
          width: 100%;
        }
      }
    }
  }
  @media screen and (min-resolution: 150dpi){
    grid-template-columns: 0 100%;
  }
}

.user_login {
  @include centerBlock(480px, 360px, $pannel_bkgnd, $pannel_fntclr);

  @media screen and (min-resolution: 150dpi){
    @include fullBlock($pannel_bkgnd, $pannel_fntclr);
  }
}

.user_signup {
  @include centerBlock(520px, 390px, $pannel_bkgnd, $pannel_fntclr);
}

.user_update {
  @include centerBlock(640px, 500px, $pannel_bkgnd, $pannel_fntclr);
}
