
<h1>My Guides: </h1>
<%= link_to "Create a new guide", new_guide_path %>

<% @is_my_guide = true %>
<% @my_guides.each do |g| %>
  <% @g = g %>
  <%= render "guide_item" %>
<% end %>

<% @is_my_guide = false %>
<h1>View Other Guides: </h1>
<% @other_guides.each do |g| %>
  <% @g = g %>
  <%= render "guide_item" %>
<% end %>
